<%= form_with(model: [@post, @comment], local: true) do |f| %>
  <fieldset>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, maxlength: 100 %>
      <% if @comment.errors[:name].any? %>
        <div class="error-message">
          <%= "#{Comment.human_attribute_name(:name)} #{@comment.errors[:name].first}" %>
        </div>
      <% end %>
    </div>
    <div>
      <%= f.label :body%>
      <%= f.text_area :body, maxlength: 250 %>
      <% if @comment.errors[:body].any? %>
        <%= "#{Comment.human_attribute_name(:body)} #{@comment.errors[:body].first}" %>
      <% end %>
  </fieldset>
  <%= f.submit %>
<% end %>