<article>
  <h1 class="title">
    <%= @post.title %>
  </h1>
  <p class="date">
    <%= time_ago_in_words(@post.created_at) %>
  </p>
  <p class="body">
    <%= @post.body %>
  </p>
  <%= link_to "Edit", edit_post_path(@post), class: "button" %>
  <%= button_to "Delete", 
              post_path(@post), 
              method: :delete, 
              data: { turbo_confirm: "Are you sure?" }, 
              class: "button" %>
</article>

<section id="comments">
  <% if @comments.any? %>
    <p><%= @comments.count %> comment(s).</p>
    <% @comments.each do |comment| %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  <% else %>
    <p>No one has commented yet.</p>
  <% end %>
</section>

<%= render "comments/form" %>